fastapi
uvicorn
pydantic
rdflib
pylatexenc
latex2mathml
gTTS
python-dotenv
requests
azure-cognitiveservices-speech
spacy
pypdf
matplotlib
numpy
openpyxl
scipy
SciencePlots
LovelyPlots
CairoSVG
pytest
openai-whisper
jiwer
imageio-ffmpeg
